extends layout

block content
  h1#milestoneTitle

  .stat
    h2#openCases
    p Open Cases
  
  .stat
    h2#remaining
    p Remaining Points

  .stat
    h2#target
    p Target Points
    
  .clear
  
  - var i, chartStatesLength = chartStates.length, percent = 1/chartStatesLength;
  table#statusChart
    tr
      - for (i = 0; i < chartStatesLength; i++)
        th(style="width: #{percent}%")= chartStates[i]
    tr
      - for (i = 0; i < chartStatesLength; i++)
        td
        
  #colorLegend
  
  #feed