extends layout

block content
  h1= title
  p Welcome to #{title}
  //      * Number of points (FogBug hours) remaining vs target
  //      * Number of cases remaining
  //      * A chart of the cases by status (column) and category (color) by POINT
  