doctype 5
html
  head
    title FogDash
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/zepto.min.js')
    script(src='/javascripts/app.js')
  body
    block content